.box * label {
  margin-right: 4%;
  font-size: 20px;
  padding-left: 25px;
}

.box * input {
  width: 50%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 20px;
  padding-left: 5px;
  margin-bottom: 2vw;
}

.box * select {
  width: 17%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 20px;
  padding-left: 5px;
}

.box * input::placeholder {
  font-style: italic;
}

#Host {
  font-size: 1.5vw;
  width: 85%;
  height: 20%;
  margin-left: 2vw;
  margin-top: 5vw;
  border: 1px solid #afafaf;
  background-color: #f0f0f0;
}

#Home {
  font-size: 1.5vw;
  margin-left: 2vw;
  width: 85%;
  margin-top: 1vw;
  height: 13%;
}
