body {
  width: 98vw;
  height: 98vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading_img {
  width: 40%;
  height: 20%;
  background: url(../images/title.svg);
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 7%;
}

.box {
  width: 25%;
  height: 40%;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.options {
  cursor: pointer;
  margin: 0 auto;
  width: 65%;
  height: 15%;
  border: 1px solid black;
  margin-bottom: 5%;
  font-size: 20px;
  background-color: #fbfbfb;
  outline: none;
}

.options:hover {
  background-color: rgb(231, 231, 231);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  margin-bottom: 10px;
}
