body {
  width: 98vw;
  height: 93vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin: 3% 0%;
}
.logo-container > img {
  height: 22vh;
}

.box {
  width: 20%;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1.5% 0%;
}

.options:hover {
  background-color: rgb(231, 231, 231);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.text-container {
  margin-bottom: 10%;
  width: 62%;
}

.hide {
  visibility: hidden;
}

#error {
  align-self: center;
  color: tomato;
  font-size: 0.8rem;
}

#name-textbox,
#id-textbox, .textbox {
  border: 0px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  width: 57%;
}

.button {
  align-self: center;
  font-size: 104%;
  width: 39%;
  background-color: #fffffe;
}

.home-button {
  align-self: center;
  text-decoration: none;
  margin-top: 6%;
  color: black;
  border: 1px solid #ccc;
  padding: 1% 12% 1% 12%;
}

.button:hover,
.home-button:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.title {
  align-self: center;
  margin: 0;
  font-size: 1.5rem;
}
