body {
  width: 98vw;
  height: 93vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('../images/AcquireCloseup.jpg');
}

.logo-container {
  display: flex;
  justify-content: center;
  margin: 0% 0%;
}
.logo-container > img {
  height: 22vh;
}

.box {
  width: 20%;
  /* border: 1px solid black; */
  box-shadow: 0 8px 6px -6px black;
  margin: 3% auto;
  display: flex;
  flex-direction: column;
  padding: 1.5% 0%;
  background-color: #f5f5f5;
}

/* .options {
  cursor: pointer;
  margin: 0 auto;
  width: 65%;
  height: 10%;
  border: 1px solid black;
  margin-bottom: 5%;
  font-size: 20px;
  background-color: #fbfbfb;
  outline: none;
  text-decoration: none;
  color: black;
  text-align: center;
  padding-top: 2%;
} */

.options:hover {
  background-color: rgb(231, 231, 231);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  margin-bottom: 10%;
}

.hide {
  visibility: hidden;
}

#error {
  align-self: center;
  color: tomato;
  font-size: 0.8rem;
}

#name-textbox,
#id-textbox,
.textbox {
  border: 0px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}
input[type='button'] {
  background-color: #f5f5f5;
  align-self: center;
  border: none;
  color: #626060;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  width: 50%;
  box-shadow: 3px 3px 5px 2px #ccc;
  margin-top: 6%;
  cursor: pointer;
}

.button {
}

.button:hover,
.home-button:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.title {
  align-self: center;
  margin: 0;
  font-size: 1.5rem;
}
